* {
  margin: 0;
  padding: 0;
}

body {
  background-color: #fafafa; 
  font-family: 'Exo 2', sans-serif;
}

@font-face {
  font-family: 'geon';
  src: url(./fonts/Demo_Fonts/Fontspring-DEMO-geon-black.otf);
}

.home{
  height: 100vh;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-image: url('/1500x500.jpg');
}

.loading{
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;

}

.center{
  border: 7px solid #E3BD58;
  border-radius: 50px;
  padding: 50px 70px;
  /* max-width: 300px; */
position: relative;
}

.loading{
  background-color: #1D1D1D;
}


.loading .text{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  font-weight: 700;
  font-size: 90px;
  line-height: -5px;
}

.text h1 {
  line-height: 170px;
  color: #E3BD58; 
}

.load_img{
  opacity: 0;
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  object-fit: cover;
  
  border-radius: 45px;
}


.cent{
  position: absolute;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #fafafa;
  font-size: 20px;
  opacity: 0;
}

.cent span{
  color: #E3BD58;
}


.cont{
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #0000006e;
}

.home_text{
  display: flex;
  align-items: center;
  flex-direction: column;
  font-size: 40px;
  font-weight: 600;
  color: #ffffff;
}

.home_text h1 span{
  color: #E3BD58;
}