* {
  margin: 0;
  padding: 0;
}

body {
  background-color: #000000; 
  color: #fafafa;
  font-family: 'Exo 2', sans-serif;
}

@font-face {
  font-family: 'geon';
  src: url(./fonts/Demo_Fonts/Fontspring-DEMO-geon-black.otf);
}

.home{
  height: 100vh;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  /* background-image: url('/1500x500.jpg'); */
}
.video {
  width: 100%;
  height: 100vh;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-image: url('/bg.jpg');
  position: absolute;
  z-index: -1;
  top: 0;
  left: 0;
  
}

.video video{
  object-fit: cover;
  width: 100%;
  height: 100%;
}

.loading{
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;

}

.center{
  border: 7px solid #E3BD58;
  border-radius: 50px;
  
  padding: 50px 70px;
  /* max-width: 300px; */
position: relative;
}

.loading{
  background-color: #1D1D1D;
}


.loading .text{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  font-weight: 700;
  font-size: 90px;
  line-height: -5px;

}

.text h1 {
  line-height: 170px;
  color: #E3BD58; 

}

.load_img{
  opacity: 0;
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  object-fit: cover;
  
  border-radius: 45px;
}


.cent{
  position: absolute;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #fafafa;
  font-size: 20px;
  opacity: 0;
  text-align: center;
}

.cent span{
  color: #E3BD58;
}


.cont{
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #0000006e;
}

.home_text{
  display: flex;
  gap: 20px;
  align-items: center;
  flex-direction: column;
  font-size: 40px;
  font-weight: 600;
  color: #ffffff;

}
.tsn{
  text-shadow: none;
}
.home_text h1 span{
  color: #E3BD58;
}

.team{
  padding: 100px 50px 0px 50px;
}
.team h1{
  padding: 10px;
  font-size: 50px;
  margin-bottom: 30px;
}
.team-cont {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  gap: 15px;
  justify-content: center;
}

.member{
  width: max-content;
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.member img{
  width: 230px;
  height: 325px;
  object-fit: cover;
  border: 2px solid #E3BD58;
  border-radius: 10px;
}
.member div {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 5px;
}
.team h4{
  color: #E3BD58;
}

.sol {
  padding: 100px 50px 0px 50px;
  display: flex;
  align-items: center;
}

.sol .vid {
  height: 100%;
  width: 60% !important;
}

.sol video, .disci img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border: 2px solid #E3BD58;
  border-radius: 20px;
}

.sol .tet {
  text-align: center;
  font-size: 30px;
 width: 40%;
}

.tet span {
  color: #E3BD58;
}

.cardbuild{
  padding: 100px 50px 0px 50px;
}

.cards {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 15px;
  flex-wrap: wrap;
}

.cardbuild img{ 
  width: 230px;
  height: 325px;
  object-fit: cover;
  border: 2px solid #E3BD58;
  border-radius: 10px;
  
}

.cardbuild h1{
  font-size: 50px;
  text-align: center;
  margin-bottom: 20px;
}

.cardbuild h1 span{
  color: #E3BD58;
}

.disci{
  flex-direction: row-reverse;
  justify-content: center;
  padding: 100px 50px 20px 50px;
  gap: 10px;
}

.disci img{
  width: 50%;
}

@media (max-width: 800px) {
  .home_text{
    font-size: 30px;
    text-align: center;
  }
  
}
@media (max-width: 700px) {
  .home_text{
    font-size: 30px;
    text-align: center;
  }
  
 .sol{
  font-size: 20px;
  padding: 100px 20px 0px 20px;
  flex-direction: column-reverse;
 }
 .sol h1{
  margin-bottom: 15px;
 }
 .sol .vid, .disci img {
  width: 100% !important;
 }
 .tet{
  width: 100% !important;
  font-size: 20px !important;
 }

 .cardbuild img {
  width: 100%;
  height: 240px;
 }
 .cardbuild h1 {
  font-size: 30px;
  margin-bottom: 15px;
 }
  
 .loading .text{
  font-size: 65px;
  line-height: -10px;
 }
 .center{
  padding: 40px 60px;
 }
 .team{
  padding: 100px 20px 0px 20px;
}
.cardbuild {
  padding: 100px 20px 0px 20px;
}
}



footer{
  text-align: center;
  margin-top: 10px;
  font-size: 25px;
padding: 20px ;

}

footer a{
  text-decoration: none;
  color: #E3BD58;
}